# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
bin/*
data/translations/*
web/assetic/*
web/js/*
web/css/*
web/test/*
web/static/*
web/bower/*

# Configuration files
app/config/parameters.yml

$ Composer
composer.lock

# Mac developer
.DS_Store

# Workspace
.idea/*
